/*Mobile*/
@media only screen and (min-width: 240px){
  .background{
    background: url('https://source.unsplash.com/category/nature/640x480') center center / cover no-repeat fixed;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px){
  .background{
    background: url('https://source.unsplash.com/category/nature/1280x720') center center / cover no-repeat fixed;
  }
} 

/*Desktop*/
@media only screen and (min-width: 992px){
  .background{
    background: url('https://source.unsplash.com/category/nature/1280x720') center center / cover no-repeat fixed;
  }
}

/*Huge*/
@media only screen and (min-width: 1280px){
  .background{
    background: url('https://source.unsplash.com/category/nature/1920x1200') center center / cover no-repeat fixed;
  }
}
* {
  box-sizing: border-box;
}
.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

.container-table {
  height: 100%;
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

div.search {
  top: 120px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;
}

div.search .search-wrapper {
  margin: 0 12px;
  transition: margin .25s ease;
  padding: 0 45px 0 15px;
}

div.search .search-wrapper input#search-input {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 45px;
  margin: 0;
  border: 0;
}

.btn,
.btn-large,
.btn-flat {
  padding: 0px !important;
}

html,
body,
.background,
#app {
  margin: 0;
  height: 100%;
  overflow: hidden;
}


/*Player CSS*/

#player {
    height: 60px;
    position: relative;
}
#player .btn {
    background-color: #8F11B3;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    color: white;
    font-size: 25px;
    height: 60px;
    left: 10px;
    line-height: 60px;
    position: absolute;
    width: 60px;
}
#player .btn:hover {
    background-color: #a714d1;
    transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -webkit-transition: background-color 300ms;
}
#player .btn:active {
    background-color: #9512ba;
    box-shadow: 0 1px 4px rgba(0,0,0,.3) inset, 0 1px 2px rgba(0,0,0,.3);
}
#player #player-title {
    font-size: 10pt;
    left: 80px;
    overflow-x: hidden;
    position: absolute;
    right: 10px;
    text-align: right;
    text-overflow: ellipsis;
    top: 10px;
    white-space: nowrap;
}
#player #player-title .download-link {
    font-size: 14px;
    color: white;
    background-color: #27ae60;
    padding: 3px;
}
#player #time {
    bottom: 10px;
    font-size: 8pt;
    position: absolute;
    right: 10px;
}
#player #progress {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,.8) inset;
    cursor: pointer;
    left: 80px;
    position: absolute;
    right: 10px;
    top: 30px;
}
#player #progress #progress-bar {
    background-color: #8F11B3;
    border-radius: 3px;
    height: 5px;
    margin-left: -1px;
}


/* Index.css */

body {
    background-color: #333;
    color: white;
    font-family: Lato, tahoma, verdana, arial, sans-serif;
    text-align: center;
    text-shadow: 0 -1px rgba(0,0,0,.8);
}
a {
    color: #aaa;
    text-decoration: none;
}
a:hover {
    color: white;
    cursor: pointer;
}

.head {
    background-color: #222;
    padding: 40px 10px;
}
.content {
    margin: 10px auto;
    max-width: 500px;
}

#search-form {
    margin-bottom: 20px;
}
#search-input {
    color: black;
}
#search-label {
    color: #aaa;
    font-size: 10pt;
}

#examples-list {
    list-style: none;
    margin: 0;
    padding: 10px;
}
#examples-list li {
    padding: 5px 0;
}

/*Icon CSS*/
@font-face {
    font-family: 'icomoon';
    src:url('./fonts/icomoon.eot?i6bygr');
    src:url('./fonts/icomoon.eot?i6bygr#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf?i6bygr') format('truetype'),
        url('./fonts/icomoon.woff?i6bygr') format('woff'),
        url('./fonts/icomoon.svg?i6bygr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
    content: "\e800";
}
.icon-pause:before {
    content: "\e801";
}
.icon-arrow-down:before {
    content: "\e802";
}

