/*Mobile*/
@media only screen and (min-width: 240px){
  .background{
    background: url('https://source.unsplash.com/category/nature/640x480') center center / cover no-repeat fixed;
  }
}

/*Tablet*/
@media only screen and (min-width: 768px){
  .background{
    background: url('https://source.unsplash.com/category/nature/1280x720') center center / cover no-repeat fixed;
  }
} 

/*Desktop*/
@media only screen and (min-width: 992px){
  .background{
    background: url('https://source.unsplash.com/category/nature/1280x720') center center / cover no-repeat fixed;
  }
}

/*Huge*/
@media only screen and (min-width: 1280px){
  .background{
    background: url('https://source.unsplash.com/category/nature/1920x1200') center center / cover no-repeat fixed;
  }
}
* {
  box-sizing: border-box;
}
.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

.container-table {
  height: 100%;
  display: table;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

div.search {
  top: 120px;
  margin-top: 1px;
  padding: 1px 0 0 0;
  z-index: 2;
}

div.search .search-wrapper {
  margin: 0 12px;
  transition: margin .25s ease;
  padding: 0 45px 0 15px;
}

div.search .search-wrapper input#search-input {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 45px;
  margin: 0;
  border: 0;
}

.btn,
.btn-large,
.btn-flat {
  padding: 0px !important;
}

html,
body,
.background,
#app {
  margin: 0;
  height: 100%;
  overflow: hidden;
}